<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LANGUAGE_CODE" value="eng_IN" /> //Add your language code
    <add key="AUDIOFORMAT" value="wav" />
    <add key="ENCODING" value="pcm16" />
    <add key="ACCESSKEY" value="Add ACCESSKEY here" />
    <add key="TOKEN" value="Add token here" />
    <add key="API_URL" value="asr.gnani.ai:443" />

    <add key="ENG_AUDIO" value="eng_IN" />
    <add key="KAN_AUDIO" value="kan_IN" />
    <add key="HIN_AUDIO" value="hin_IN" />
    <add key="TEL_AUDIO" value="tel_IN" />
    <add key="GUJ_AUDIO" value="guj_IN" />
    <add key="TAM_AUDIO" value="tam_IN" />
  </appSettings>
</configuration>